<%- include("../patials/header.ejs") %>
<div class="show-music-tools-tab">
    <a class="show-music-tools-tab__element show-music-tools-tab__back" href="/">
        <img src="/images/icons/left-arrow.png">
        <span>Back</span>
    </a>
    <% if(currentUser && currentUser.role === "admin") { %>
        <a class="show-music-tools-tab__element show-music-tools-tab__edit" href="/artist/<%= artist._id %>/edit">
            <img src="/images/icons/wrench.png">
            <span>Edit</span>
        </a>
        <form action="/artist/<%= artist._id %>?_method=DELETE" method="POST">
            <button class="show-music-tools-tab__element show-music-tools-tab__delete profile-container__info__text__button--delete" type="submit">
                <img src="/images/icons/bin.png">
                <span>Delete</span>
            </button>
        </form>
    <% } %>
</div>
<div class="profile-container profile-container--artist">
    <div class="profile-container__info">
        <div class="profile-container__info__profile-picture">
            <img src="<%= artist.artistImage %>">
        </div>
        <div class="profile-container__info__text">
            <div class="profile-container__info__text__display-name">
                <span><%= artist.name %></span>
            </div>
            <div class="profile-container__info__text__followers">
                <span><%= artist.followers %> followers</span>
            </div>
            <div class="profile-container__info__text__menu">
                <% if(currentUser) { %>
                    <% if(currentUser.following.includes(artist._id)) { %>
                        <div class="profile-container__info__text__menu__follow-btn blue-circle-button">
                            <form action="/profile/<%= currentUser._id %>/following/remove" method="POST">
                                <a onclick="this.parentNode.submit()">
                                    <img src="/images/icons/favorite.png">
                                </a>
                                <input type="hidden" name="artistID" value="<%= artist._id %>">
                            </form>
                        </div>
                    <% } else { %>
                        <div class="profile-container__info__text__menu__follow-btn blue-circle-button white-filter">
                            <form action="/profile/<%= currentUser._id %>/following/add" method="POST">
                                <a onclick="this.parentNode.submit()">
                                    <img src="/images/icons/favorite.png">
                                </a>
                                <input type="hidden" name="artistID" value="<%= artist._id %>">
                            </form>
                        </div>
                    <% } %>
                <% } else { %>
                    <div class="profile-container__info__text__menu__follow-btn blue-circle-button white-filter">
                        <form action="/profile/0/following/add" method="POST">
                            <a onclick="this.parentNode.submit()">
                                <img src="/images/icons/favorite.png">
                            </a>
                            <input type="hidden" name="artistID" value="<%= artist._id %>">
                        </form>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
    <div class="profile-container__following container-slider">
        <div class="profile-container__favorite__topic container-slider__topic">
            <span>Musics</span>
        </div>
        <div class="profile-container__favorite__element-list container-slider__element-list swiper mySwiper">
            <div class="swiper-wrapper">
                <% musics.forEach((music) => { %>
                    <div class="profile-container__favorite__element-list__music container-slider__element-list__element swiper-slide">
                        <span class="play-code__music-name" ><%= music.name %></span>
                        <img class="container-slider__element-list__element__image play-code__music-cover-image" src="<%= music.imageCover %>">
                        <div class="container-slider__element-list__element__button blue-circle-button play-code__play-button" 
                        music-source="<%= music.musicSource %>">
                            <img src="/images/icons/play-button.png">
                        </div>
                        <div class="container-slider__element-list__element__button-bg">

                        </div>
                        <a href="/music/<%= music._id %>">
                            <div class="container-slider__element-list__element__link">

                            </div>
                        </a>
                        <span class="play-code__artist" style="color: rgba(0,0,0,0);"><%= artist.name %></span>
                        <div class="container-slider__element-list__element__bg"></div>
                    </div>
                <% }) %> 
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>
<%- include("../patials/footer.ejs") %>